*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center  ;
}

.btn{
    background-color:beige;
    padding: 5px;
    border-radius: 8px;
}
.up{
    background-color: brown;
    width: 100%;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    align-self: center;
    font-size:27px;
    color:#fff;
    font-variant-caps :all-petite-caps ;
}
.down{
    background-color: rgba(168, 18, 18, 0.918);
    color: rgb(70, 240, 226);
    font-family: cursive;
    font-weight: 700px;
    font-size: 70px;
}
.mid{
    font-size: 15px;
    padding: 8px;
    border-radius: 45px;
    box-shadow: 2px 2px 4px 1px  rgb(207, 180, 180) ;
}